{{ define "main" }}
  <div class="flex flex-col space-y-6">
    {{- $posts := where .RegularPages "Section" "posts" -}}
    {{ with $posts }}
      <section>
        <h2>posts ==> {{ $.Title }}</h2>

        {{ partial "posts/list.html" . }}
      </section>
    {{ end }}
    {{- $videos := where .RegularPages "Section" "videos" -}}
    {{ with $videos }}
      <section>
        <h2>videos ==> {{ $.Title }}</h2>

        {{ partial "videos/list.html" . }}
      </section>
    {{ end }}
    {{- $books := where .RegularPages "Section" "books" -}}
    {{ with $books }}
      <section>
        <h2>books ==> {{ $.Title }}</h2>

        {{ partial "books/list.html" . }}
      </section>
    {{ end }}
    {{- $notes := where .RegularPages "Section" "notes" -}}
    {{ with $notes }}
      <section>
        <h2>notes ==> {{ $.Title }}</h2>

        {{ partial "notes/list.html" . }}
      </section>
    {{ end }}

  </div>
{{ end }}
