+++
title = 'age verification'
date = 2025-08-14T12:00:00-07:00
draft = false
categories = ["humor", "software"]
tags = []
+++

apparently YouTube is testing out age verification, but I'm going to be really surprised and extremely disappointed if their AI flags me as potentially under the age of 18, on account of my Google account was created in 2006